.header {
    padding: 20px;
    background-color: coral;
    display: flex;
    align-items: center;
}

.linksContainer {
    transition: all 0.5s ease;
    width: 0px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}

.linksContainer:hover {
    width: 520px;
    opacity: 1;
    pointer-events: visible;
}

.linksContainer:hover > a {
    opacity: 1;
    pointer-events: visible;
}

.link {
    text-decoration: none;
    text-align: center;
    flex: 0 0 166px;
    transition: all 0.5s ease;
    font-weight: 500;
    font-size: 18px;
    margin-right: 10px;
    color: #000;
    opacity: 0;
    pointer-events: none;
    border-right: 1px solid #000;
}

.link:hover {
    color: coral;
}

.object {
    transition: all 0.3s ease;
    position: relative;
    width: 10px;
    height: 50px;
    background-color: white;
    cursor: pointer;
}

.object:hover ~ .linksContainer {
    opacity: 1;
    pointer-events: visible;
    width: 520px;
}

.object:hover ~ .linksContainer > a {
    opacity: 1;
    pointer-events: visible;
}
